body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button {
    cursor: pointer;
    border: 2px dashed red;
    background: white;
    height: 50px;
    width: 150px;
    display: block;
    margin: 30px 40px 30px 60px;
}
